@font-face {
    font-family: Roboto;
    src: url(../police/Roboto-Regular.ttf) format("ttf");
}
@font-face {
    font-family: Shrikhand;
    src: url(../police/Shrikhand.ttf) format("ttf");
}
*{
    font-family: Roboto;
}