.menu{
    background-color: #f5f5f5;
    margin-top: -60px;
    border-radius: 50px 50px 0 0;
    position: relative;
    padding: 20px 20px 30px 20px;
    @include desktop-only{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .menu__plat{
            width: 25%;
        }
    }
    &__image{
        height: 300px;
        width: 100%;
        object-fit: cover;}
    &__header{
        display: flex;
        justify-content: space-evenly;
        @include desktop-only{
            width: 100%;
            justify-content: center;
            gap: 30px;
        }
        & h1{
            font-family: Shrikhand;
            font-style: italic;
            font-size: 30px;
        }
        & .restaurants__coeur{
            align-self: center;
            font-size: 30px;
        }
    }
    &__plat{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__titre{
        text-transform:uppercase;
        font-weight: 400;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 0;
        &::after{
            content: "";
            width: 3rem;
            height: .25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    &__info{
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &>*{
            margin: 0;
        }
    }
    &__card{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 10px 0px 10px 10px;
        border: transparent solid 0px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px 3px #E5E5E5;
        animation: menu 1s forwards;
        opacity: 0;
        overflow: hidden;
        &:nth-child(2){
            @include delay(2 * $delaydebut);
        }
        &:nth-child(3){
            @include delay(3 * $delaydebut);
        }
        &:nth-child(4){
            @include delay(4 * $delaydebut);
        }
        &__prix{
            display: flex;
            align-self:flex-end;
            justify-content: flex-end;
            font-weight: bold;
            padding-left: 0px;
        }
    
}
}
.menu__card__validation {
background-color: #99e2d0;
margin: -1rem -5rem -1rem 1rem;
width: 50px;
display: flex;
align-items: center;
justify-content: center;
transition-duration: .5s;
}
.menu__card__icon{
height: 1.6rem;
width: 1.6rem;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
transform: rotate(360deg);
transition-duration: .5s;
 & i{
    color: $colour-tertiary;
    &:before{
    content: "\f00c";
    font-family: FontAwesome;
 }
}
}
.menu__card:hover {
    & .menu__card__icon{
transform: rotate(0);
}
& .menu__card__validation{
    margin-right: 0px;
}
}