@keyframes debutloader{
  0%   { 
    opacity: 0;
    top: $topdebut;
  }
  5%   { 
    opacity: 1;
    top: 0px;
  }
  50% { 
    opacity: 1;
    top: 0px;
  }
  55% { 
    opacity: 0;
    top: - $topdebut;
  }
}
@keyframes fadeout {
0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}


@keyframes coeur {
  0%{
      scale: 1;
  }
  25%{
    scale: 1.1;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%{
    scale: 1.2;
  }
  100%{
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes menu{
  0%{
    transform: translatey(20px);
    opacity: 0;
  }
  100%{
    transform: translatey(0px);
    opacity: 1;
  }
}
@keyframes validation{
0%{
  width: 0;
  opacity: 0;
}
100%{
  width: 20px;
  opacity: 1;
}
}

