@keyframes debutloader {
  0% {
    opacity: 0;
    top: $topdebut;
  }

  5% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes loadertext {
  0% {
    opacity: 0;
    top: $topdebut;
  }

  5% {
    opacity: 1;
    top: 0px;
  }

  50% {
    transform: scale(2);
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes coeur {
  0% {
    transform: scale(1);
    font-weight: 900;
  }

  25% {
    transform: scale(1.1);
    background: $gradient;
    background-clip: text;
    color: transparent;
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    background: $gradient;
    background-clip: text;
    color: transparent;
    font-weight: 900;

  }
}

@keyframes menu {
  0% {
    transform: translatey(20px);
    opacity: 0;
  }

  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes rotateicon {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}