$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary:#99E2D0;
$gradient: linear-gradient(#FF79DA,#9356DC);
$color:black;
$breakpoints: (
  desktop: 992px,
  tablet: 768px,
);
$squarew: 30px;
$squareh: 30px;
$squaremargin: 5px;
$loaderw: $squarew * 3 + $squaremargin *2;
$loaderh: $squareh * 3 + $squaremargin *2;
$delayenter: 0.3s;
$topenter: -100px;