header {
  @include margin-padding (all, 20px 0, null, null);
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__retour {
  position: absolute;
  left: 20px;
  color: #000;
  font-size: 20px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeout 0.2s 3.5s forwards;

  & .container__carre {
    background: $colour-primary;
    width: $carrew;
    height: $carreh;
    border-radius: 100%;
    float: left;
    top: $topdebut;
    margin-right: $carremargin;
    margin-top: $carremargin;
    position: relative;
    opacity: 0;
    animation: debutloader 5s forwards;

    &:nth-child(odd) {
      background: $colour-secondary;
    }

    &:nth-child(even) {
      background: $colour-primary;
    }

    &:nth-child(1) {
      @include delay(6 * $delaydebut);
    }

    &:nth-child(2) {
      @include delay(7 * $delaydebut);
    }

    &:nth-child(3) {
      @include delay(8 * $delaydebut);
    }

    &:nth-child(4) {
      @include delay(3 * $delaydebut);
    }

    &:nth-child(5) {
      @include delay(4 * $delaydebut);
    }

    &:nth-child(6) {
      @include delay(5 * $delaydebut);
    }

    &:nth-child(8) {
      @include delay(1 * $delaydebut);
    }

    &:nth-child(9) {
      @include delay(2 * $delaydebut);
    }
  }

  &__text {
    position: relative;
    font-family: Shrikhand;
    font-size: 25px;
    color: $colour-tertiary;
    animation: loadertext 0.5s 1 forwards;
    @include delay(9 * $delaydebut);
    opacity: 0;
  }

  .clear {
    clear: both;
  }
}